node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts
bin/
obj/
**/bin/
**/obj/
.vs/
.idea/
.vscode/
**/.aspire/
**/.aspire/logs/
**/.aspire/cli/
**/.aspire/telemetry/
**/.aspire/secret-store/
**/appsettings.*.local.json
**/*.user
**/*.userosscache
**/*.suo
**/*.cache
**/*.log
**/.env
**/.env.*
